/*made by 2025181449 muhammad hafiy bin abdul rahman CDCS2534B, student in CSC584*/
/*global styling*/
body {
    margin: 0;
    padding: 0;
    font-family: Georgia, serif;
    background-image: url("images/backgroundimage.jpg");
    background-color: #333333;
    color: #333333;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

/*form and profiel cards*/
.form-container, 
.profile-container,
.profile-card {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    max-width: 550px;
    background: #ffffcc;
    padding: 30px 35px;
    border-radius: 18px;
    animation: fadeIn 0.5s ease-in-out;
}

h2 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 26px;
    color: #333;
    font-weight: 600;
}

/*inputs*/
label {
    display: block;
    font-weight: 600;
    color: #444;
}

input, textarea {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    border-radius: 10px;
    border: 2px solid #d6d6d6;
    font-size: 15px;
    transition: 0.2s;
    background: #fafafa;
}

input:focus,
textarea:focus {
    border-color: #66a6ff;
    outline: none;
    background: #ffffff;
    box-shadow: 0 0 5px rgba(102,166,255,0.4);
}

/*submit and back buttons*/
button,
.back-button {
    width: 100%;
    padding: 14px;
    margin-top: 25px;
    font-size: 17px;
    font-weight: 600;
    color: white;
    background: linear-gradient(135deg, #bfd641, #00f2fe);
    border-radius: 12px;
    cursor: pointer;
    transition: 0.25s ease;
    text-align: center;
}

button:hover,
.back-button:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 18px rgba(0,0,0,0.15);
}

/*profile page */
.profile-card {
    max-width: 600px;
    border-radius: 20px;
}

/* header section */
.profile-card .header {
    text-align: center;
    margin-bottom: 20px;
}

.profile-card .header h2 {
    font-size: 30px;
    margin-bottom: 5px;
    color: #222;
}

.profile-card .tagline {
    font-size: 16px;
    color: #555;
}

/* info boxes */
.details{
    margin-bottom: 30px;
}

.details .info-box {
    background: #f7f9fb;
    padding: 30px 30px;
    border-left: 5px solid #66a6ff;
    border-radius: 12px;
    margin-bottom: 15px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.07);
}

.details .info-box label {
    font-weight: 600;
    font-size: 14px;
    color: #444;
}

.details .info-box p {
    margin: 5px 0 0;
    font-size: 16px;
    color: #333;
}

/*some animation*/
@keyframes fadeIn {
    0%   { opacity: 0; transform: translateY(15px); }
    100% { opacity: 1; transform: translateY(0); }
}
